{% extends 'crud/base.html' %}
{% block content %}
    {% include 'crud/nav.html' %}
    <br>
    <h2>ClassRoom</h2>
    <a href="{% url 'classbased_add_classroom' %}" class="btn btn-success" style="float: right">Add ClassRoom</a>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Class Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for classroom in classrooms %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ classroom.name }}</td>
            <td>
                <a href="#">Update</a>
                <a href="#">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}